<div class="w3-container w3-content w3-padding-64" style="max-width:800px; font-size: large" id="josekle">
  <p>
    The term <a href="https://senseis.xmp.net/?Joseki">joseki</a> comes from japanese and it means
    "pre-established moves". In Go this term is employed to refer to a sequence of stone placements
    (usually played out around a corner) that are considered to lead to a <b>locally</b> even result.
  </p>
  <p>
    Josekis play a fundamental role in the opening of a game of Go and, although it's
    <a href="https://senseis.xmp.net/?LearningJosekiLosesTwoStonesStrength"><b>not recommended to memorize them</b></a>,
    studying and understanding them can help you improve your mastery of the game. With this in mind Ai Guan, one of our
    most dedicated members, decided to start on the 25th of February 2022 a friendly competition to help members of the
    Lancaster Go club improve their opening. Every day several members of the club that are crazy about Go, and some
    sporadic ones that show every now and then, make an attempt on guessing the daily joseki via the
    <a href="https://okonomichiyaki.github.io/josekle/"><b>josekle</b></a> game (inspired by
    <a href="https://www.nytimes.com/games/wordle">wordle</a>) and add their attempts on our
    <a href="https://discord.gg/P44qfm8s3H">discord channel</a>. At the end of the day the attempts made are added to
    our ever-growing
    <a href="https://docs.google.com/spreadsheets/d/1Z_8Mijctm8XaCQrBJEGejXv2iXQWtrwD196pmMTcr9Q/edit">scoreboard</a>
    in which you can keep track of your own progress and be awarded a medal if your josekle attempt was one of the best
    three (that usually starts happening if you keep at it long enough).
  </p>
  <p>
    We already managed to reach 2000 completed josekles and Ai made a mural to commemorate the occasion! Every member
    that contributed to reaching this number appears in it! Join us to help us increase that number! Who knows, maybe
    you will be in the next mural.
  </p>
</div>
<div class="w3-container w3-content" style="max-width:80%; padding-top: -20em" id="josekle-img">
  <img src="{{getLinkFromAssetName('184qnfKoSq8bwjRUal_s5pgW066CNGG1j')}}"
         class="big-img"
         alt="2000-josekle"/>
    <p>Art by Ai Guan.</p>
</div>
