<div class="w3-container w3-content w3-padding-64" style="max-width:800px;" id="contact">

  <h4 class="w3-wide"><u>Want to get a go board for free?</u></h4>
  You can make your own Go board and stones by printing them from the
  <a href="https://www.britgo.org/learners/make.html">british Go association webpage</a>.
  <br>
  You can also make the board out of wood as some of our regular members. Come to a club meeting to learn how.

  <h4 class="w3-wide"><u>Want to learn more?</u></h4>
  Try Go at a club meeting or say hi to us on <a href="https://discord.gg/3qwzGtc">Discord!</a>. We
  are always happy to teach beginners — some of our regular players only started learning the
  rules after coming to the club. It’s free and there’s no need to bring equipment.
  If you can’t wait until then you can try the <a href="https://way-to-go.gitlab.io/">Interactive Way To Go tutorial</a>.

  <h4 class="w3-wide"><u>Want to play online?</u></h4>
  There are several webpages that you can use to play Go online. One of the most used ones is the
  <a href="https://online-go.com/group/2607">Online Go Server (OGS)</a> where we have a group with most of our regular club members.
</div>
