<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <span class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
          title="Toggle Navigation Menu"><i class="fa fa-bars"></i></span>
    <span class="w3-bar-item logo-container w3-hide-small"></span>
    <span [ngClass]="getHomeHeaderClass()" (click)="selectHome()">ABOUT US</span>
    <span [ngClass]=getRulesHeaderClass() (click)="selectRules()">RULES</span>
    <span [ngClass]=getResourcesHeaderClass() (click)="selectResources()">ADDITIONAL RESOURCES</span>
    <span *ngIf="homeSelected"
          [ngClass]=getAggressiveHeaderClass()
          style="float: right !important;"
          [ngStyle]="{'color': isAggressive? 'green' : 'red'}"
          (click)="toggleIsAggressive()">
      {{getIsAggressiveText()}}
    </span>
<!--    <span *ngIf="rulesSelected"-->
<!--          [ngClass]=getLevelUpHeaderClass()-->
<!--          style="float: right !important;"-->
<!--          [ngStyle]="{'color': isLevelUp? 'green' : 'blue'}"-->
<!--          (click)="toggleIsLevelUp()">-->
<!--      {{getIsLevelUpText()}}-->
<!--    </span>-->
  </div>
</div>
<app-home *ngIf="homeSelected" [isAggressive]="isAggressive"></app-home>
<app-rules *ngIf="rulesSelected" [isLevelUp]="isLevelUp"></app-rules>
<app-resources *ngIf="resourcesSelected"></app-resources>
