
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <div class="w3-container w3-content big-img-container" id="josekle-img">
    <img src="{{getImageLinkFromId('poster.png')}}"
         class="big-img"
         title="lancaster-go-club-art-by-Ai-Guan"
         alt="lancaster-go-club-art-by-Ai-Guan"/>
  </div>
  <span *ngIf="!isAggressive" class="w3-justify">
    <p>
      Do you like strategy games, intellectual challenges, complex patterns build from easy rules? Then Go is the game for you!
      <br>
      Go (also known as <i>baduk</i>, <i>igo</i> or <i>weiqi</i>) is a 2 player abstract strategy game that is believed to be the oldest continuously
      played game in human history.
      <br>
      Go is known for having very simple rules that contrast with its extreme complexity (it takes under 5 minutes to learn the rules and a lifetime to master the game).
    </p>
    <p>
      Whether you are a complete beginner or a dan player the Lancaster Go club offers a friendly and relaxing environment to play and study Go.
    </p>
  </span>

  <span *ngIf="isAggressive" class="w3-justify">
    <p>
      Do you like directing a clash between armies, killing enemy battalions or make them live in shame, ruthlessly attacking the weakest groups of an enemy exercit until, in a desperate fight for survival, they lead you to kill their own allies? Then Go is the game for you!
      <br>
      Go (also known as <i>baduk</i>, <i>igo</i> or <i>weiqi</i>) is a 2 player abstract strategy game that , like chess or shogi, is said to somewhat a war between enemy armies.
      <br>
      Go is known for having very simple rules that contrast with its extreme complexity (it takes under 5 minutes to learn the rules and a lifetime to master the game).
    </p>
    <p>
      Whether you are a complete beginner or a dan player the Lancaster Go club offers a friendly and relaxing environment in which you can try to viciously murder other Go players (only in the game though).
    </p>
  </span>

  <!--The region below is the part of the code that contains all the meeting details.-->
  <!--UNLESS YOU KNOW WHAT YOU ARE DOING DON'T CHANGE ANYTHING OTHER THAN THE CODE IN THESE REGION-->
  <!--AND IF YOU DO CHANGE THINGS IN THIS REGION DO IT FOLLOWING THE PROVIDED TEMPLATE.-->
  <!--region Time and location-->
  <div class="w3-row-padding w3-section">
    <div class="w3-col meeting-time-column">
      <h4 style="text-align: center;">Weekly meetings:</h4>
      <!--region Thursday meeting temporary-->
      <!--Thursday meeting information-->
      <app-meeting-details [meetingDay]="'Thursday'"
                           [meetingTime]="'18:00-21:00'"
                           [place]="'Flyde B35'"
                           [linkToPlace]="'https://use.mazemap.com/#v=1&campusid=341&zlevel=2&center=-2.785333,54.008835&zoom=19.5&sharepoitype=poi&sharepoi=958945'"
                           [extraInformation]="'10-10-2024'"
                           style="width: 100%">
      </app-meeting-details>
      <!--endregion-->
      <!--region Thursday meeting-->
      <br>
      <!--Thursday meeting information-->
      <app-meeting-details [meetingDay]="'Thursday'"
                           [meetingTime]="'18:00-21:00'"
                           [place]="'Flyde LT2'"
                           [linkToPlace]="'https://use.mazemap.com/#v=1&zlevel=1&center=-2.785559,54.008642&zoom=18&sharepoitype=poi&sharepoi=958836&campusid=341'"
                           [extraInformation]="'other dates'">
      </app-meeting-details>
      <!--endregion-->
      <!--region MEETING TIME TEMPLATE-->

      <!--In order to REMOVE AN EXISTING MEETING TIME you just need to delete the content inside its corresponding-->
      <!--'region'. More precisely if you look above you will see blocks of code of the form-->
      <!--
           < !-- region MEETING NAME -- >
           SOME CODE
           < !--endregion -- >
      -->
      <!--If you want to delete a meeting time delete that whole thing. Don't forget to re-build the page afterwards-->
      <!--following the highlighted instructions under BUILD in the `README.md` file.-->


      <!--In order to add a new meeting time copy the following template outside of this commented region, replace-->
      <!--the appropriate placeholders and replace the `- -`  with `--` (use the examples above as a guide).-->
      <!--

      <!- -region MEETING NAME - ->
      <br> <!- - DELETE THIS IF THIS IS THE FIRST MEETING TIME - ->
      <br> <!- - DELETE THIS IF THIS IS THE FIRST MEETING TIME - ->
      <br> <!- - DELETE THIS IF THIS IS THE FIRST MEETING TIME - ->
      <app-meeting-details [meetingDay]="'MEETING DAY'"
                           [meetingTime]="'HH:MM-HH:MM'"
                           [place]="'LOCATION'"
                           [extraInformation]="'OPTIONAL COMMENT'" <!- - LEAVE BLANK OR DELETE IF NO COMMENT - ->
                           [linkToPlace]="'LINK TO MAP'"> <!- - LINK TO MAZE MAP OR GOOGLE MAPS POINTING TO LOCATION OR LINK TO ONLINE MEETING - ->
      </app-meeting-details>
      <!- -endregion- ->

      -->

      <!--endregion-->
    </div>
    <!--endregion-->

    <div class="w3-col links-column" style="align-content: center">
      <h4>Join us on:</h4>
      <p class="links-container">
        <a href="https://discord.gg/P44qfm8s3H" target="_blank" style="text-align: left"><u>Discord</u></a>
        <a href="https://online-go.com/group/2607" target="_blank" style="text-align: right"><u>OGS</u></a>
      </p>
    </div>
  </div>
</div>
