<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <span *ngIf="!isAggressive" class="w3-justify" style="font-size: large">
    <p>
      Do you you like strategy games, intellectual challenges, complex patterns build from easy rules? Then Go is the game for you!
      <br>
      Go (also known as <i>baduk</i>, <i>igo</i> or <i>weiqi</i>) is a 2 player abstract strategy game believed to be the oldest continuously
      played game in human history.
      <br>
      Go is known for having very simple rules that contrast with its extreme complexity (it takes under 5 minutes to learn the rules and a lifetime to master the game).
    </p>
    <p>
      Whether you are a complete beginner or a dan player the Lancaster Go club offers a friendly and relaxing environment to play and study Go.
    </p>
  </span>

  <span *ngIf="isAggressive" class="w3-justify" style="font-size: large">
    <p>
      Do you you like directing a clash between armies, killing enemy battalions or make them live in shame, ruthlessly attacking the weakest groups of an enemy exercit until, in a desperate fight for survival, they lead you to kill their own allies? Then Go is the game for you!
      <br>
      Go (also known as <i>baduk</i>, <i>igo</i> or <i>weiqi</i>) is a 2 player abstract strategy game that , like chess or shogi, is said to somewhat a war between enemy armies.
      <br>
      Go is known for having very simple rules that contrast with its extreme complexity (it takes under 5 minutes to learn the rules and a lifetime to master the game).
    </p>
    <p>
      Whether you are a complete beginner or a dan player the Lancaster Go club offers a friendly and relaxing environment in which you can try to viciously murder other Go players (only in the game though).
    </p>
  </span>


  <div class="w3-row-padding w3-section">
    <div class="w3-col s4" style="text-align: left">
      <h4>weekly meetings:</h4>
      Wednesdays 11:30-14:30 on <a href="https://www.google.com/maps/place/Infolab/@54.0074571,-2.7877622,16z/data=!4m5!3m4!1s0x487b6303c7b5b1b7:0xb55da8da66c2bc80!8m2!3d54.0055877!4d-2.7849312"> Infolab Cafe</a>
      <br>
      Thursdays 18:00-21:00 on <a href="https://www.lancaster.ac.uk/iss/rooms/rooms-template.php?30138">County main SR3 </a>
    </div>

    <div class="w3-col s4" style="align-content: center">
      <h4>discord channel:</h4>
      <a href="https://discord.gg/3qwzGtc">https://discord.gg/3qwzGtc</a>
    </div>
    <div class="w3-col s4" style="text-align: right">
      <h4>OGS:</h4>
      <a href="https://online-go.com/group/2607">https://online-go.com/group/2607</a>
    </div>
  </div>
</div>
